*{
    font-family: 'Roboto', sans-serif;
    letter-spacing: -1px;
}
body{
    max-width: 100%;
    background-color: #F7F7F2;
    color: #262626;
    overflow-x: hidden;
}
.logo{
    height: 35px;
    width: 130px;
    padding-left: 15px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px 10px;
    white-space:nowrap;

}
nav ul{
    padding-right: 50px;
}
#sticky {
    background-color: #F7F7F2;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    margin: 0px;
  }
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 50px;
}

nav ul li a{
    color: #262626;
    letter-spacing: -1px;
    text-decoration: none;
    font-size: 18px;
    text-transform: lowercase;
}

nav ul li a:hover{
    color:#EB5160;
    transition: 0.3s;
}

.header-text{
    margin-top: 200px;
    width: 1000px;
    padding: 10px 20px;
}
.header-text span {
    color: #EB5160;
}
.header-text h1 {
    font-size: 50px;
    margin: 0px 0px;
    letter-spacing: -1px;
    padding: 1px;
}
.header-subtext{
    margin-top: 25px;
    margin-bottom: 125px;
    width: 500px;
    padding: 0px 20px;
}
.header-subtext p{
    width: 550px;
    letter-spacing: -0.5px;
    line-height: 1.35;
}
#pd {
    color: #262626;
    position: relative;
}
#pd::after{
    content: '';
    height: 2.5px;
    background: #450920;
    position: absolute;
    left: 0;
    bottom: -2.5px;
    width: 0%;
    z-index: -1;
    transition: all 0.3s;
    transform-origin: 0% 100%;
}
#pd:hover{
    color: #F7F7F2;
    transition: all 0.6s;
}
#pd:hover::after{
    width: 101%;
    transform: scaleY(25);
    transition: all 0.5s;
}

#works{
    padding: 50px 0px;
    overflow: hidden;
}

#works .sec-header{
    white-space: nowrap;
    padding-bottom: 50px;
}

#works .sec-header p{
    font-size: 42px;
    color:#262626;
    font-weight: bold;
    margin-bottom: 0;
}

#works .anim{
    animation: anim 6.5s infinite linear;
}

@keyframes anim{
    from{
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}
#works-header{
    font-style: italic;
    letter-spacing: 1.25px;
    color: #EB5160;
}

.works-col{
    white-space: nowrap;
    padding: 70px 0px;
    margin: 0 auto;
    display: block;
    width: 90vw;
}
.works-col button{
    background-color: #F7F7F2;
    height: 80px;
    width: 100%;
    border: 1px solid #450920;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
}

.works-col button:hover{
    transition: 0s;
    background-color: #450920;
    border-radius: 100px;
    transition: 0.1s;
}

.works-col button:hover > span, .works-col button:hover > span #pr-name{
    color:#F7F7F2;
}

.works-col button span{
    color: #EB5160;
    margin: 0px 30px;
    font-weight:lighter;
    font-size: 25px;
    max-width: 200px;
    display: inline-block;
}

.works-col button span #pr-name{
    color: #EB5160;
    margin: 0px 0px;
    font-weight: bold;
}

.proj-cover{
    position: absolute;
    left: 40%;
    object-fit: cover;
    height: 300px;
    width: 350px;
    border-radius: 50px;
    display: none;
    border: 1px solid #450920;
}

.works-col button:hover .proj-cover{
    display: block;
    animation: fade_in_show 0.3s;
}
@keyframes fade_in_show {
    0%{
        opacity: 0;
        transform: scale(0.7);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@media only screen and (max-width: 800px) {
    .works-col button:hover .proj-cover{
        display: none;
    }
}
#about{
    padding: 10px 20px;
    
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col1{
    flex-basis: 60%;
}
.sub-title{
    font-size: 42px;
}
.about-col2{
    flex-basis: 35%;
}
hr{
    border-top: .5px solid #450920;
    margin: -10px;
  }
