*{
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: #F4F1EB;
    color: #262626;
    overflow-x: hidden;
}
nav #logo{
    color: #262626;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: -1.5px;
    padding-left: 20px;
    font-weight: 600;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space:nowrap;
}
nav ul{
    padding-right: 50px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 50px;
}

nav ul li a{
    color: #262626;
    letter-spacing: -1px;
    text-decoration: none;
    font-size: 18px;
    text-transform: lowercase;
}

nav ul li a:hover{
    color:#EB5160;
    transition: 0.3s;
}
#header{
    margin-bottom: 200px;
}
.header-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
}
.hero{
    margin-left: 75px;
    margin-top: 50px;
    white-space: nowrap;
    flex-basis: 45%;
}
.header-text{
    padding-top: 60px;
}
#alt{
    display: none;
}
.header-text span {
    color: #EB5160;
}
.header-text h1 {
    font-size: 48px;
    margin: 0px 0px;
    letter-spacing: -1.5px;
}
#bg-cont{
    width: 300px;
    margin: 20px auto;
}
#eyeball-1{
    /*HOVER OFF*/
    transform: scaleX(0.9091);
    transition: 0.6s ease;
    
}
#eyeball-2{
    /*HOVER OFF*/
    transform: scaleX(0.952);
    transition: 0.6s ease;
    
}
#svg:hover #eyeball-1{
    /*HOVER ON*/
    transform: scaleX(1.1);
    transition: 0.5s ease;
}
#svg:hover #eyeball-2{
    transform: scaleX(1.01);
    transition: 0.5s ease;
}
#brow-1{
    transform: translateY(0.5rem);
    transition: 0.6s ease;
}
#svg:hover #brow-1{
    transform: translateY(-0.5rem);
    transition: 0.6s ease;
}
#brow-2{
    transform: translateY(0.5rem);
    transition: 0.6s ease;
}
#svg:hover #brow-2{
    transform: translateY(-0.5rem);
    transition: 0.6s ease;
}

#pd {
    color: #262626;
    position: relative;
}
#pd::after{
    content: '';
    height: 2.5px;
    background: #450920;
    position: absolute;
    left: 0;
    bottom: -2.5px;
    width: 0%;
    z-index: -1;
    transition: all 0.3s;
    transform-origin: 0% 100%;
}
#pd:hover{
    color: #F4F1EB;
    transition: all 0.6s;
}
#pd:hover::after{
    width: 101%;
    transform: scaleY(25);
    transition: all 0.5s;
}

#works{
    height: auto;
    margin: 100px 0px;
}

#works .sec-header{
    white-space: nowrap;
}

#works .sec-header p{
    font-size: 34px;
    color:#262626;
    font-weight: 600;
}

#works .anim{
    animation: anim 6.5s infinite linear;
}

@keyframes anim{
    from{
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}
#works-header{
    font-style: italic;
    letter-spacing: 1.25px;
    color: #EB5160;
    font-size: 18px;
}

.works-col{
    white-space: nowrap;
    margin: 200px auto;
    width: 90%;
}
.works-col button{
    background-color: #F4F1EB;
    height: 80px;
    width: 100%;
    border: 1px solid #450920;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
}

.works-col button:hover{
    transition: 0s;
    background-color: #450920;
    border-radius: 100px;
    transition: 0.1s;
}

.works-col button:hover > span, .works-col button:hover > span #pr-name{
    color:#F4F1EB;
}

.works-col button span{
    color: #EB5160;
    margin: 0px 30px;
    font-weight:lighter;
    font-size: 22px;
}

.works-col button span #pr-name{
    color: #EB5160;
    margin: 0px 0px;
    font-weight: bold;
}

.proj-cover{
    position: absolute;
    left: 40%;
    object-fit: cover;
    height: 300px;
    width: 350px;
    border-radius: 50px;
    display: none;
    border: 1px solid #450920;
}

.works-col button:hover .proj-cover{
    display: block;
    animation: fade_in_show 0.3s;
}
@keyframes fade_in_show {
    0%{
        opacity: 0;
        transform: scale(0.7);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
#about{
    padding: 75px 0px;
    width: 100%;
    height: auto;
    background-color: #2C2C2C;
    color: #EBFE96;
}
#about .container .row{
    padding: 0px 100px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col1{
    flex-basis: 45%;
}
.about-col1 div{
    margin-top: 50px;
    float: right;
    width: 200px;
    height: 350px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.sub-title{
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 34px;
}
.about-col2{
    text-align: left;
    width: 500px;
    height: 500px;
    flex-basis: 45%;
}
.about-col2 span{
    display: inline-block;
    width: 30vw;
    font-size: 18px;
    font-weight: thin;
    line-height: 1.25;
}
.about-col2 p{
    width: 30vw;
    font-size: 18px;
}
.connect{
    padding-top: 20px;
    text-align: center;
}
.connect h1{
    font-size: 34px;
}
.connect a{
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: none;
    color: #EBFE96;
    font-size: 22px;
    display: block;
}
@media only screen and (max-width: 600px) {
    nav ul li a{
        display: none;
    }
    .works-col button:hover .proj-cover{
        display: none;
    }
    .works-col button span{
        display: block;
        text-align: left;
        font-size: 20px;
    }
    .header-text h1{
        display: none;
    }
    #alt{
        font-size:68px;
        font-weight: 700;
        letter-spacing: -1.5px;
        display: block;
        margin-bottom: -25px;
    }
    .hero{
        margin-left: 20px;
        margin-top: -100px;
        width: 100%;
        text-align: left;
        flex-basis: 0%;
        white-space: pre-line;
    }
    #pd:hover::after{
        transform: scaleY(17);
    }
    .about-col1{
        display: none;
    }
    .about-col2{
        flex-basis: 100%;
    }
    #about .container .row{
        padding: 0px 30px;
    }
    .about-col2 span, .about-col2 p{
        width: 100%;
        font-size: 25px;
    }
    #bg-cont{
        transform: scale(0.75);
    }
}

/*Project Styling*/
.project-title {
    margin: 100px 20px;
}
.project-title span{
    color: #262626;
    font-size: 80px;
    font-weight: normal;
}
.skills{
    margin: 35px 0px;
}
.skills span{
    margin-bottom: 15px;
    margin-right: 10px;
    display: inline-block;
    font-size: 18px;
    padding: 7px 7px;
    border-radius: 100px;
    border: 1px solid #450920;
}
.proj-desc{
    margin: 35px 0px;
}
.proj-desc #sum{
    font-size: 18px;
}
.header-image{
    height: 350px;
    padding: 0;
}
#expand {
    margin-top: 200px;
    background: #dc143c;
    min-height: 50%;
    min-width: 20%;
    position: relative;
    max-height: 100%;
}
.proj-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 100px;
}
.prob{
    flex-basis: 45%;
}
.sol{
    flex-basis: 45%;
}

.prob h1, .sol h1{
    color: #262626;
}
.prob span, .sol span{
    letter-spacing: -0.5px;
    line-height: 30px;
    color: #262626;
    font-size: 18px;
    display: inline-block;
    width: 450px;
}